<header class="header">
  <!-- Logo -->
  <a href="/" class="header__logo">Admin Panel</a>
  <!-- Main Navigation -->
  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Home</a>
      </li>
      <li>
        <a href="/about" class="">About</a>
      </li>
      <li>
        <a href="/contact" class="">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- Search Bar -->
  <div class="header__button">
    <a href="/logout" class="button">Logout</a>
  </div>
</header>
