<div class="author">
  <h1 class="author__heading">Search Results</h1>
</div>

<section class="articles">
  <ul class="article-ul">
    <% data.forEach(post => { %>

    <li>
      <!-- The /post/:id route is a dynamic route that will render the post.ejs view with the data of the post that matches the id in the URL. The post.ejs view will display the title and body of the post. -->
      <!-- Method : GET -->
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list__date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>
</section>
